body {
  height: 100%;
  width: 100%;
  background-color: #202d48 !important;
}
.dropdown-container select.form-select {
  max-width: 200px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.data-list {
  max-height: 450px;
  overflow: scroll;
  scrollbarwidth: none;
}

@media (min-width: 1300px) {
  .data-list {
    max-height: 520px !important;
    overflow: auto;
    scrollbar-width: none;
  }
}
